@import "tailwindcss" ;

@theme {
    --breakpoint-xs:335px;
    --breakpoint-sm:480px;
    --breakpoint-md:768px;
    --breakpoint-lg:976px;
    --color-twiter-blue:#1da1f2;
    --font-figtree : "figtree";

}